<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
    package="com.sugawara.reminder">
<application
        tools:replace="android:label"
        android:label="reminder[Debug]"></application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
